body,
html,
* {
  padding: 0;
  margin: 0;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}
// ----------
// 一、 element v8页面适应
// <!------ [1] 导航栏 ------->
.el-menu {
  .el-submenu,
  .el-menu--popup {
    min-width: auto;
  } //el-submenu
} //leftPanel
.el-menu--collapse {
  .el-menu {
    .el-submenu {
      min-width: auto;
    }
  }
}
.el-submenu {
  .el-menu-item {
    min-width: auto;
  }
}

// ----------
// 二、 v8 样式集中
// <!------ [1] 左侧菜单 ------->
.LeftPanel {
  //【=1=】一级左侧
  > .el-submenu {
    $h_l1: 40px;
    > .el-submenu__title {
      height: $h_l1;
      line-height: $h_l1;
    } //el-submenu__title

    //【=2=】二级弹出
    .Container {
      > .el-submenu {
        > .el-submenu__title {
          $h_l2: 45px;
          padding-right: 43px;
          height: $h_l2;
          line-height: $h_l2;
        } //el-submenu__title

        //【=3=】三级选择
        .SmallPanel {
          > .SmallPanel-inner {
            max-height: 400px;
          }
          .menuItem {
            $h_item: 40px;
            height: $h_item;
            line-height: $h_item;
            padding-right: 45px;
          } //menuItem
        } //SmallPanel
      } //el-submenu
    } //Container
  } //el-submenu
} //LeftPanel
