/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
//$--color-primary: teal;

/* icon font path, required */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";

$font1: #2c3e50;
$font2: #3d4d66;
$font2_deep: #232e40;
$font2_light: #9ea6b2;

$border: #e8eaed;
$back2: #f7f8fa;
$back: #eff1f4;
$back2: #f7f8fa;

$blue: #356feb;
$blue2: #4078f0;

$hover: rgba(54, 157, 242, 0.05);
$hover_deep: rgba(51, 135, 204, 0.05);

//~ 3 transition设定
%transition_fast {
  transition: all 0.18s;
}
%transition_mid {
  transition: all 0.5s;
}
%transition_one {
  transition: all 1s;
}
%transition_two {
  transition: all 2s;
}
//~4-1 仅水平居中
%center-w {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  transform-style: preserve-3d;
}
//~4-1 仅垂直居中
%center-h {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transform-style: preserve-3d;
}
//~4 水平垂直居中
%center-wh {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

%flex-wh {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
%flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
//--------------
// 一、 预先
//--------------
body,
html {
  padding: 0;
  margin: 0;
  background-color: #fff;
  height: 100%;
  width: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: $font1;
}
* {
  margin: 0;
  padding: 0;
}

//--------------
// 五、 单独部件
//--------------
.fill {
  flex-grow: 1;
  flex-shrink: 1;
}
.updDataReport {
  width: 90%;
  max-height: 90%;
  overflow: auto;
}
//~ 3 弹窗居中用flex
.el-message-box__wrapper {
  @extend %flex-wh;
  .el-message-box {
    display: block;
  }
}

//--------------
//四、 动画
//--------------
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
//~ 2 fixed全页 动画右进 右出
.PageMove-enter-active {
  transition: all 0.6s;
}
.PageMove-leave-active {
  transition: all 0.3s;
}
.PageMove-enter,
.PageMove-leave-to {
  transform: translateX(100%);
}
//~ 3 从0宽度到100%宽度
.Expand-enter-active {
  transition: all 0.6s;
  transform-origin: left top;
}
.Expand-leave-active {
  transition: all 0.3s;
  transform-origin: left top;
}
.Expand-enter,
.Expand-leave-to {
  opacity: 0.1;
  transform: scale(0);
}
//--------------
//二、 单实例
//--------------
//【=1=】单个格子
.d-one-cell {
  width: 100%;
  height: 100%;
  > * {
    width: 100%;
    height: 100%;
  }
  &:not(.added) {
    cursor: pointer;
  }
  &:hover {
    .tipLayer {
      opacity: 0.7;
    }
  }
  .tipLayer {
    @extend %transition_fast;
    @extend %flex-wh;
    .fa {
      font-size: 40px;
      color: #bbb;
    }
  }
}
//【=2=】格子地图
.d-cells-map {
  width: 100%;
  height: 100%;
  position: relative;

  .linesArea,
  .dotsArea,
  .contentArea {
    width: 100%;
    height: 0;
  }
  //~ 1 内容部分
  .oneRow,
  .oneCell {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  //~ 2 控制线
  .d-divid-line {
    $w: 4px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $w;
    background: rgba(0, 0, 0, 0.1);
    transition: left 0.12s, top 0.12s, box-shadow 0.18s, height 0.18s, width 0.18s;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.12);
    }

    &.horizontal {
      height: $w;
      width: 100%;
    }
    &.dot {
      $w_dot: $w * 1.5;
      width: $w_dot;
      height: $w_dot;
      border-radius: $w_dot;
    }
  }
}

//~ 2 表样式
.el-table {
  th {
    padding: 3px 0;
  }
  td {
    padding: 0;
    .cell {
      white-space: nowrap;
    }
  }
}

//~ 3 树样式
.IndexTree {
  font-size: 14px;
  .el-tree-node {
    &.is-current,
    &:focus {
      > .el-tree-node__content {
        background-color: #f5f7fa;
      }
    }
  }
}

$color: #3b94e7;
$color1: #fad075;
$color2: #f8423c;
$color3: #3ac02e;
$color4: #18406e;
$color5: #a83be7;

.selectInfo {
  padding: 8px;
  font-size: 14px;
  .type {
    display: inline-block;
    padding: 2px 6px;
    font-size: 12px;
    color: white;
    background: $color3;
    border-radius: 50px;
    &.sql {
      background: $color4;
    }
  }
  .tableName {
    margin-left: 4px;
  }
}
//# 3 拖拽小标签
.DimTypeTag {
  &.drag {
    z-index: 9999;
  }

  &.joinTagCard {
    display: inline-block;
    //width: 100px;
    border: 1px solid $border;
    padding: 0;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .preText {
      padding: 4px 4px;
      background: $color;
      color: white;
      font-size: 12px;
    }
    i.icon {
      font-size: 14px;
      top: 0;
      margin-left: 2px;
    }
    .text {
      font-size: 13px;
      margin-left: 3px;
    }

    &.d1 {
      .preText {
        background: $color1;
        color: $font1;
      }
    }
    &.d2 {
      .preText {
        background: $color2;
      }
    }
    &.d3 {
      .preText {
        background: $color3;
      }
    }
    &.d4 {
      .preText {
        background: $color4;
      }
    }
    &.d5 {
      .preText {
        background: $color5;
      }
    }
  }
}

//--------------
// 三、 页面
//--------------
.BI-application-page {
  width: 100%;
  height: 100%;
  background: white;
}

// @@ 1 页面一，选择绘板和数据准备
.DesignCenter {
  width: 100%;
  height: 100%;
  $h: 40px;
  $w: 70px;
  > .topH {
    height: $h;
    .centerHeadWrap {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;

      .leftIcon {
        flex-grow: 0;
        height: 100%;
        width: $w;
        background: rgb(0, 174, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        i {
          color: white;
        }
      }
      .app-title {
        flex-grow: 1;
        .app-title-text {
          padding-left: 10px;
          font-size: 16px;
          font-weight: normal;
        }
      }
      .rightItems {
        height: 100%;
        flex-grow: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        .oneItem {
          padding: 0 10px;
          margin-right: 10px;
          &.user {
            .el-link--inner {
              .el-icon-user-solid {
                padding: 5px;
                background: rgb(77, 215, 250);
                border-radius: 50px;
                margin-right: 6px;
                color: white;
              }
              .text {
                margin-right: 3px;
              }
            }
          }
        }
      } //right
    }
  }
  > .theBody {
    height: calc(100% - #{$h});
    .centerBody {
      height: 100%;
      > .el-tabs__header {
        margin-right: 0;
        width: 70px;
        background: rgb(29, 46, 73);
        .el-tabs__nav-wrap {
          .el-tabs__nav {
            margin-top: 8px;
          }
          //~ 1 右侧边框取消
          &::after {
            content: none;
          }
          //~ 2
          .el-tabs__active-bar {
            left: 0;
            right: auto;
            width: 4px;
            border-radius: 6px;
            background-color: white;
          }
          //~ 3
          .el-tabs__item {
            height: 105px;
            box-sizing: border-box;
            padding: 0;
            padding-top: 16px;
            color: rgb(150, 158, 172);
            &.is-active,
            &:hover {
              color: white;
            }
            .item {
              text-align: center;
              .icon {
                font-size: 24px;
              }
              .text {
                font-size: 12px;
              }
            }
          } //_item
        }
      }
      > .el-tabs__content {
        height: 100%;
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 8px;
          box-shadow: inset 0 15px 10px -15px rgba(35, 46, 64, 0.1);
        }

        .el-tab-pane {
          height: 100%;
          //这下面最好有ScrollBar

          //# 一、选择绘板页
          .BoardsList-inner {
            height: 100%;
            background-color: #f7f8fa;
            padding: 0 10px 10px 10px;

            $h_t: #{$h + 6px};

            .topArea {
              height: $h_t;
              display: flex;
              align-items: center;
              .addTip {
                font-size: 12px;
                .text {
                  letter-spacing: 0.3px;
                }
              }
              .el-icon-brush {
                color: rgb(117, 230, 25);
                margin-right: 2px;
                font-size: 18px;
                position: relative;
                top: 2px;
                margin-left: 8px;
              }
            }
            .bodyArea {
              height: calc(100% - #{$h_t});
              display: flex;
              flex-direction: column;
              > .el-table {
                $h_head: 48px;
                //~ 1 row
                .el-table__row {
                  cursor: pointer;
                }
                th {
                  padding: 10px 0;
                }
                td {
                  padding: 8px 0;
                }
                // .el-table__header-wrapper {
                //   height: $h_head;
                // }
                // .el-table__body-wrapper {
                //   height: calc(100% - #{$h_head});
                // }
              } //table
              > .el-pagination {
                margin-bottom: 3px;
              }
            }
          } //BoardsList
        }
      } //content
    }
  } //boty
}

// @@ 2 页面二，绘板、子控件加入拖拽页
.DesignEdit {
  %item_normal {
    @extend %flex-wh;
    flex-direction: row;
    color: $font2;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    > i {
      margin-right: 6px;
      font-size: 16px;
    }
    > .text {
      font-size: 12px;
    }

    &:hover {
      color: $font2_deep;
      background: $hover;
    }
  }
  %item_vertical {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    color: $font2;
    cursor: pointer;
    .icon {
      font-size: 24px;
    }
    .text {
      font-size: 12px;
      margin-top: 10px;
    }
    &:hover {
      color: $font2_deep;
      background: $hover;
    }
  }
  //~ 1
  .EditHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid $border;
    box-sizing: border-box;
    overflow: hidden;

    .leftPart {
      flex-grow: 1;
      flex-shrink: 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      > * {
        &:not(:first-child) {
          margin-left: 20px;
        }
        &.templateTitle {
          margin-left: 7px;
          max-width: 160px;
          color: $font2_deep;
          background: none;
          line-height: 14px;
          cursor: text;
          i {
            margin-right: 10px;
            padding: 5px;
            border-radius: 50px;
            background: rgb(50, 155, 216);
            color: white;
          }
        }
      }
      > .divid {
        width: 1px;
        height: 18px;
        background: $border;
      }
    }
    .rightPart {
      @extend %flex-row;
      margin-right: 16px;
    }

    .item {
      @extend %item_normal;
      i.el-icon-caret-right {
        margin-right: 0;
        margin-left: 6px;
      }
    }
  }

  //~ 2 左侧
  .EditLeftBar {
    width: 100%;
    height: 100%;
    border-right: 1px solid $border;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    .popover {
      display: block;
      width: 100%;
      &.addItemBtn {
        border-bottom: 1px solid $border;
        .barItem {
          padding: 20px 0;
        }
      }
    }
    .barItem {
      @extend %item_vertical;
      width: 100%;
    }
    .dividLine {
      border-bottom: 1px solid $border;
      width: 100%;
    }
  }

  //~ 3 中间编辑区域
  .EditCenter {
    height: 100%;
    width: 100%;
    background: $back;

    .EditCenter-inner {
      height: 100%;
      width: 100%;
    }
    .EditCenter-scorll {
      > .el-scrollbar__wrap {
        > .el-scrollbar__view {
          padding: 6px;
        }
      }
    } //scroll
  }
} //DesignEdit

// @@ 3 页面3 选择与管理数据集页面
.CenterData {
  width: 100%;
  height: 100%;
  $w_select: 260px;
  $h_top: 0px; //50px;
  position: relative;
  .dataSelect {
    width: $w_select;
    height: 100%;
    .topArea {
      height: $h_top;
    }
    .selectArea {
      height: calc(100% - #{$h_top});
      background: white;
      box-shadow: 0 12px 10px 0 rgba(0, 0, 0, 0.03);
      padding: 10px;
      > .titleArea {
        .title {
          padding-bottom: 10px;
          font-size: 14px;
          color: $font2;
        }
        > .addOption {
          padding-bottom: 8px;
          > .el-button {
            margin-right: 5px;
          }
        }
      }
      //【简易】
      .IndexTree {
        height: calc(100% - 110px);
        overflow: auto;
      }
    }
  }
  .dataStage {
    position: absolute;
    top: 0;
    left: $w_select;
    height: 100%;
    width: calc(100% - #{$w_select});

    .topArea {
      height: $h_top;
    }
    .innerStage {
      height: calc(100% - #{$h_top});
      background: $back2;

      //~ 1 提示
      .fileNotSelectTip {
        height: 100%;
        width: 100%;
        @extend %flex-wh;
        flex-direction: column;
        .back {
          height: 150px;
          width: 200px;
          background: url(./images/view3/rightTip.png) no-repeat;
          background-position: center;
          background-size: auto 100%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
        .text {
          color: $font2_light;
          font-size: 14px;
        }
      }
      //~ 2 内部
      //【简易】
      .checkWrap {
        height: 100%;
        > .checkBody {
          height: calc(100% - 60px);
          > .el-tabs {
            height: 100%;
            > .el-tabs__content {
              height: calc(100% - 40px);
            }
            .viewBody,
            .DimTable {
              height: 100%;
              td {
                padding: 6px 0;
              }
            }
          }
        }
      }
    } //右侧inner
  }
}

// @@ 3-2 页面3-2，新数据添加
.NewDataPage {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 11;
  $h: 41px;
  color: $font2;
  > .headBar {
    box-sizing: border-box;
    height: $h - 1px;
    border-bottom: 1px solid #e8eaed;
    @extend %flex-row;
    align-items: center;

    .dataName {
      width: 346px;
      height: 26px;
      @extend %flex-row;
      align-items: center;
      .pre {
        font-size: 14px;
        margin-left: 10px;
        width: 60px;
      }
      .el-button {
        display: block;
        width: 100px;
        height: 26px;
        flex-grow: 1;
      }
      .el-input {
        .el-input__inner {
          height: 26px;
          line-height: 26px;
        }
      }
    }
    .yesno {
      margin-right: 10px;
      .el-button {
        padding: 6px 28px;
        font-size: 12px;
      }
    }
  }
  > .operateBody {
    background: $back2;
    height: calc(100% - #{$h});
    padding: 10px;
    position: relative;

    $w_left: 560px;

    .leftArea {
      width: $w_left;
      height: calc(100% - 20px);
      background: white;
      padding: 10px;
      box-sizing: border-box;
      $h_topMain: 40px;

      .text1,
      .text2 {
        font-size: 14px;
        color: $font2_light;
      }
      .text2 {
        color: $font1;
      }

      > .topMain {
        height: $h_topMain;
        @extend %flex-row;
        .updInfo {
          @extend %flex-wh;
        }
        input {
          display: none;
        }
        .reNew {
          margin-left: 10px;
        }
      }
      > .bodyInfo {
        $h_tip: 100px;
        position: relative;
        height: calc(100% - #{$h_topMain});
        padding-top: 10px;
        box-sizing: border-box;

        //~ 1 拖拽层
        .dragTip {
          @extend %flex-wh;
          flex-direction: column;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.8);
          z-index: 3;
          border: 3px dashed rgba(0, 0, 0, 0.1);

          .icon {
            width: 200px;
            height: 200px;
            background: url(./images/view3/new1.png) no-repeat center;
            background-size: 100% auto;
            margin-bottom: 20px;
            opacity: 0.6;
          }
          .text {
            font-size: 42px;
            color: $font2_light;
          }
        }

        //~ 2 文字提示
        .topText {
          .group1 {
            margin-bottom: 10px;
          }
          &.workSheet {
            height: $h_tip;
          }
        }
        //~ 3 维度展示
        .fieldType {
          height: calc(100% - #{$h_tip});
          $h_tip2: 26px;
          .topTip {
            height: $h_tip2;
          }
          .tableWrap {
            height: calc(100% - #{$h_tip2});
          }
        }
      } //body
    }
    .rightArea {
      position: absolute;
      left: $w_left + 20px;
      right: 10px;
      top: 10px;
      bottom: 30px;
      background: white;

      .noTip {
        height: 100%;
        width: 100%;
        @extend %flex-wh;
        flex-direction: column;
        .back {
          height: 150px;
          width: 200px;
          background: url(./images/view3/table.png) no-repeat;
          background-position: center;
          background-size: auto 100%;
          margin-top: -20px;
          margin-bottom: 20px;
          margin-left: -20px;
        }
        .text {
          color: $font2_light;
          font-size: 14px;
        }
      }
      //~ 2 数据展示
      .dataResult {
        $h_icon: 30px;
        height: 100%;
        > .topArea {
          height: $h_icon;
          padding: 0 10px;
        }
        > .tableWrap {
          height: calc(100% - #{$h_icon});
          padding: 0 10px;
          td {
            padding: 6px 0;
          }
        }
      }
    } //right
  } //body
}
// @@ 3-3 页面3-3，新数据源数据添加
.NewSqlDataPage {
  .operateBodySql {
    $w_left: 300px;
    font-size: 14px;

    .leftArea {
      width: $w_left;

      $h_bar: 42px;
      $h_pager: 36px;
      .addRemoveBar {
        height: $h_bar;
      }
      .listBody {
        height: calc(100% - #{$h_bar + $h_pager});
        .el-scrollbar {
          height: 100%;

          //#1 一个数据源
          .oneServer {
            cursor: pointer;
            margin-bottom: 10px;

            &:hover {
              background: $hover;
            }
            &.selected {
              background: $hover_deep;
            }
          }
        }
      }
      .pager {
        height: $h_pager;
      }
    }
    //右侧
    .rightArea {
      padding: 10px;
      left: $w_left + 20px;

      $h_top: 100px;

      //~ 0 没有的提示
      .waitSqlSourceTip {
        height: 100%;
        width: 100%;
        @extend %flex-wh;
        flex-direction: column;
        .back {
          height: 150px;
          width: 200px;
          background: url(./images/view3/sqlSource.png) no-repeat;
          background-position: center;
          background-size: auto 100%;
          margin-top: -20px;
          margin-bottom: 20px;
          margin-left: -20px;
        }
        .text {
          color: $font2_light;
          font-size: 14px;
        }
      }

      //~ 1 上
      .dbTableSelectArea {
        height: $h_top;
      }
      //~ 2 下
      .tableDataArea {
        height: calc(100% - #{$h_top});
        @extend %flex-row;
        > * {
          height: 100%;
        }

        $w_tree: 280px;

        .dimensionArea {
          width: $w_tree;
          > .el-scrollbar {
            height: calc(100% - 20px);
            .dimTree {
              padding: 6px 0;
              .el-tree-node__expand-icon.is-leaf {
                display: none;
              }
              .dimOption {
                font-size: 14px;
                .midText {
                  margin-left: 4px;
                }
                .nameText {
                  width: auto;
                  .el-input__inner {
                    height: 20px;
                    border: 1px solid rgba(0, 0, 0, 0.05);
                    width: auto;
                    padding: 0 0 0 4px;
                  }
                }
              }
            }
          }
        }
        .dataTableArea {
          width: calc(100% - #{$w_tree});
          .DimTable {
            height: calc(100% - 20px);
          }
        }
      }
    }
  }
}
