@import url(./fonts/bi/iconfont.css);
$font1: #2c3e50;
$font2: #3d4d66;
$font2_deep: #232e40;
$font2_light: #9ea6b2;

$border: #e8eaed;
$back: #eff1f4;
$back2: #f7f8fa;

$blue: #356feb;
$blue2: #4078f0;

%flex-wh {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
%flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

%item_normal {
  @extend %flex-wh;
  flex-direction: row;
  color: $font2;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  > i {
    margin-right: 6px;
    font-size: 16px;
  }
  > .text {
    font-size: 12px;
  }

  &:hover {
    color: $font2_deep;
    background: rgba(54, 157, 242, 0.05);
  }
}

//~~ 1 type标签
.DimTypeTag {
  &.edit {
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 4px 6px;
    > .icon {
      font-size: 18px;
      margin-right: 12px;
    }
    &:not(:first-child) {
      margin-top: 2px;
    }

    &:hover {
      background: rgba(104, 171, 216, 0.4);
    }
    &.active {
      background: rgba(61, 140, 192, 0.4);
    }
    &.selected {
      background: rgba(28, 86, 124, 0.726);
    }
  }
}

//  edit附加页面
// @@ 4-1 添加组件1 窗口
.newBIItem {
  width: 90%;
  height: 80%;
  overflow: auto;
  .el-message-box__content {
    height: calc(100% - 100px);
  }
  .el-message-box__container,
  .el-message-box__message {
    height: 100%;
  }
  //【update】后期可放外？
  .dataSelector {
    height: 100%;
    @extend %flex-row;
    $w: 210px;
    .leftTree {
      width: 210px;
      overflow: auto;
    }
    .rightTable {
      width: calc(100% - #{$w});
      //~ 1 提示
      .fileNotSelectTip {
        height: 100%;
        width: 100%;
        @extend %flex-wh;
        flex-direction: column;
        .back {
          height: 150px;
          width: 200px;
          background: url(./images/view3/target.png) no-repeat;
          background-position: center;
          background-size: auto 100%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
        .text {
          color: $font2_light;
          font-size: 14px;
        }
      }
      //~ 2 表
      .DimTable {
        height: 100%;
      }
    }
  } //selector
}
// @@ 4-2 各子控件编辑全页 fix全局
.ItemEdit {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 11;
  $h: 40px;
  color: $font2;
  > .headBar {
    box-sizing: border-box;
    height: $h - 1px;
    border-bottom: 1px solid #e8eaed;
    @extend %flex-row;
    align-items: center;

    .tabWrap {
      @extend %flex-row;
      flex-shrink: 0;
      .tabs {
        height: 40px;
        .oneTab {
          display: inline-block;
          height: 100%;
          line-height: 36px;
          font-size: 12px;
          padding: 0 15px;
          color: $font2;
          cursor: pointer;
          border-right: 1px solid #e8eaed;
          &:hover {
            background: $back2;
          }
          &.active {
            color: $blue;
            background: $back2;
          }
        }
      }

      .addNewItemBtn {
        border-right: 1px solid #e8eaed;
        font-size: 30px;
        line-height: 38px;
        padding: 0 8px;
        color: $font2;
        cursor: pointer;
        &:hover {
          color: $blue2;
        }
      }
    }

    .operBtns {
      @extend %flex-row;
      .item {
        @extend %item_normal;
        // font-size: 12px;
        // color: $font2;
        margin-right: 12px;
        .bi {
          font-size: 18px;
          &.bi-retry {
            margin-right: 0;
            margin-left: 6px;
            font-size: 12px;
          }
        }
      }
    }
  }
  > .editBody {
    background: $back2;
    height: calc(100% - #{$h});

    .oneTabBody {
      height: 100%;
      width: 100%;
      font-size: 12px;
      @extend %flex-row;

      $w_left: 200px;
      $w_mid: 220px;

      //~ 1 左侧 维度
      .dimensionArea {
        width: $w_left;
        height: 100%;
        border-right: 1px solid #e8eaed;

        $w_icon: 25px;

        > * {
          padding: 8px 10px;
        }

        //# 1
        .fileName {
          span {
            width: calc(100% - #{$w_icon});
            display: inline-block;
          }
          .icon {
            width: $w_icon;
            text-align: center;
          }
        }
        //# 2
        .searchDim {
          .el-input {
            width: calc(100% - #{$w_icon});
            .el-input__inner {
              height: 30px;
            }
          }
          .icon {
            width: $w_icon;
            text-align: center;
          }
        }
        //# 3 维度
        .dimenArea,
        .indexArea {
          height: calc(50% - 40px);
          box-sizing: border-box;
          $h_t: 30px;

          > .title {
            height: $h_t;
          }
          > .body {
            height: calc(100% - #{$h_t});
          }
        }
        .dimenArea {
          border-bottom: 1px solid #e8eaed;
        }
      }
      //~ 2 中间 title type等
      .typeMakeArea {
        width: $w_mid;
        height: 100%;

        > * {
          padding: 8px 10px;
        }

        //# 1 标题
        .nameArea {
          border-bottom: 1px solid #e8eaed;
          .title {
            padding: 4px 0;
            display: flex;
            justify-content: space-between;
          }
          .el-input__inner {
            height: 30px;
          }
        }
        //# 2 类型
        .typeArea {
          border-bottom: 1px solid #e8eaed;
          .title {
            padding: 4px 0;
          }
          .selectArea {
            @extend %flex-row;
            flex-wrap: wrap;
            .typeWrap {
              cursor: pointer;
              margin-right: 12px;
              margin-bottom: 6px;
              width: 35px;
              height: 35px;
              box-sizing: border-box;
              line-height: 30px;
              text-align: center;
              .bi {
                font-size: 20px;
              }
              &.select,
              &.hover {
                color: $blue2;
                border: 1px solid $blue2;
              }
              &.select {
                box-shadow: 0 0 0 2px rgba(69, 144, 236, 0.2);
              }
            }
          }
          .nowType {
            margin-top: 5px;
          }
        }
      }
      //~ 3 右侧展示
      .visualArea {
        width: calc(100% - #{$w_left + $w_mid});
        height: 100%;
        $h_dim: 120px;
        $h_chart: calc(100% - #{$h_dim});

        .dropArea {
          height: $h_dim;
          .CoatingDim {
            width: 100%;
            @extend %flex-row;
          }
        }

        .visualStage {
          height: $h_chart;
        }
      }
    } //onebody
  }
}

//@@ 5 过滤组件
.newCondition {
  width: 900px;
  height: 500px;
}
