@import url(./fonts/bi/iconfont.css);
$font1: #2c3e50;
$font2: #3d4d66;
$font2_deep: #232e40;
$font2_light: #9ea6b2;

$border: #e8eaed;
$border2: #f6f8fa;
$back: #eff1f4;
$back2: #f7f8fa;

$blue: #356feb;
$blue2: #4078f0;

$hover: rgba(54, 157, 242, 0.05);
$hover_deep: rgba(51, 135, 204, 0.05);

%flex-wh {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
%flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

%item_normal {
  @extend %flex-wh;
  flex-direction: row;
  color: $font2;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  > i {
    margin-right: 6px;
    font-size: 16px;
  }
  > .text {
    font-size: 12px;
  }

  &:hover {
    color: $font2_deep;
    background: rgba(54, 157, 242, 0.05);
  }
}

%transition-mid {
  transition: all 0.5s;
}

//~~ 1 type标签
.DimTypeTag {
  &.edit {
    cursor: pointer;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 4px 6px;
    > .icon {
      font-size: 18px;
      margin-right: 12px;
    }
    &:not(:first-child) {
      margin-top: 2px;
    }

    &:hover {
      background: rgba(104, 171, 216, 0.4);
    }
    &.active {
      background: rgba(61, 140, 192, 0.4);
    }
    &.selected {
      background: rgba(28, 86, 124, 0.726);
    }
  }
}

//  edit附加页面
.BIBase {
  .chart-table {
    height: 100%;
  }
  .echartsBoxWrap {
    height: 100%;
  }

  .noDimensionTip {
    height: 100%;
    width: 100%;
    @extend %flex-wh;
    flex-direction: column;
    .back {
      height: 80px;
      width: 100px;
      background: url(./images/view3/noDim.png) no-repeat;
      background-position: center;
      background-size: auto 100%;
      margin-top: -15px;
      margin-bottom: 15px;
    }
    .text {
      color: $font2_light;
      font-size: 12px;
    }
  }
}
// @@ 4-0 各个group子控件内部
.CellBubble.isRoot {
  //~ 1 BI控件的头部
  .BIBase {
    > .chartTitle {
      cursor: grab;
    }
    > .chartBody {
      .chart-table {
        height: 100%;
        padding: 0 1px;
        .DimTable {
          height: 100%;
        }
      }
    }
  }
  .DragResizeMouse-wrap {
    &.dragging {
      .BIBase > .chartTitle {
        cursor: grabbing;
      }
    }
  }

  //~ 2 表样式
  .el-table {
    th {
      padding: 6px 0;
    }
    td {
      padding: 0;
      .cell {
        white-space: nowrap;
      }
    }
  }
}
//# (2) 选择dataId的树结构
.dataTree {
  padding-left: 5px;
  .el-tree-node {
    .is-leaf.el-tree-node__expand-icon {
      display: none;
    }
  }
}
// @@ 4-1 添加组件1 窗口
.newBIItem {
  width: 90%;
  height: 80%;
  overflow: auto;
  .el-message-box__content {
    height: calc(100% - 100px);
  }
  .el-message-box__container,
  .el-message-box__message {
    height: 100%;
  }
  //【update】后期可放外？
  .dataSelector {
    height: 100%;
    @extend %flex-row;
    $w: 240px;
    .leftTree {
      width: $w;
      overflow: auto;
      border-right: 1px solid $border;
    }
    .rightTable {
      width: calc(100% - #{$w});
      padding-left: 5px;
      //~ 1 提示
      .fileNotSelectTip {
        height: 100%;
        width: 100%;
        @extend %flex-wh;
        flex-direction: column;
        .back {
          height: 150px;
          width: 200px;
          background: url(./images/view3/target.png) no-repeat;
          background-position: center;
          background-size: auto 100%;
          margin-top: -20px;
          margin-bottom: 20px;
        }
        .text {
          color: $font2_light;
          font-size: 14px;
        }
      }
      //~ 2 表
      .DimTable {
        height: 100%;
      }
    }
  } //selector
}
// @@ 4-3 明细组件添加
.newDetail {
  height: 90%;
  max-height: 780px;
  width: 88%;
  max-width: 1240px;

  //其实这适用每个 message-box
  $h_head: 43px;
  $h_bbar: 37px;
  $h_body: calc(100% - #{$h_head + $h_bbar});
  > * {
    box-sizing: border-box;
  }
  .el-message-box__header {
    height: $h_head;
  }
  .el-message-box__content {
    height: $h_body;
    .el-message-box__container,
    .el-message-box__message {
      height: 100%;
      > * {
        height: 100%;
      }
    }
  }
  .el-message-box__btns {
    height: $h_bbar;
  }

  //选择
  .detailSelector {
    $h_bottom: 44%;
    $h_top: 100% - $h_bottom;
    $h_title: 30px;

    .oneArea {
      padding: 5px;
      box-sizing: border-box;
      > .areaTitle {
        height: $h_title;
      }
      > .areaBody {
        border: 1px solid $border;
        height: calc(100% - #{$h_title});
      }
    }

    //# 1 上部 main与明细选择
    .selectArea {
      height: $h_top;
      @extend %flex-row;
      $w_left: 44%;
      $w_right: 100% - $w_left;

      //# 1-1 左侧 主表
      .dataIdSelect {
        width: $w_left;
        height: 100%;

        // .mainTableSelector {
        // }
      }

      //# 1-2 右侧 明细表
      .joinTablesSelect {
        width: $w_right;
        height: 100%;

        .detailTableSelector {
          @extend %flex-row;
          $w_tab: 150px;
          $w_tabBody: calc(100% - #{$w_tab});

          > .jTabs {
            width: $w_tab;
            border-right: 1px solid $border2;
            .el-scrollbar {
              height: 100%;
            }
            //tab切换
            .oneTab {
              position: relative;
              border-bottom: 1px solid $border2;
              padding: 7px 5px;
              cursor: pointer;
              margin-bottom: 1px;
              word-break: break-all;

              .deleteBtn {
                position: absolute;
                right: 3px;
                top: 2px;
                width: 30px;
                height: 30px;
                display: none;
                line-height: 30px;
                text-align: center;
                color: $font2_light;
                &:hover {
                  color: $font2_deep;
                }
              }

              &:hover {
                background: $hover;
                .deleteBtn {
                  display: block;
                }
              }
              &.active {
                background: $hover_deep;
                color: $font2_deep;
              }
              &.notHealthy {
                color: rgb(207, 60, 60);
              }

              &.addNewJoinBtn {
                padding: 12px 5px;
                border-top: 1px dashed #9e9e9e;
              }
            }
          }

          > .jTabBodies {
            width: $w_tabBody;
            > .oneBody {
              height: 100%;

              $h_prop: 60px;
              .propSelector {
                height: $h_prop;
                .selItem {
                  padding: 0 20px;
                  box-sizing: border-box;
                  $w_pre: 100px;
                  .pre {
                    width: $w_pre;
                  }
                  .el-select {
                    width: calc(100% - $w_pre);
                    max-width: 200px;
                  }
                  margin-bottom: 3px;
                }
              }
              .dataPropCoat {
                height: calc(100% - #{$h_prop});
              }
            }
          }
        }

        .notSelectTip {
          height: 100%;
          width: 100%;
          @extend %flex-wh;
          flex-direction: column;
          .back {
            height: 110px;
            width: 150px;
            background: url(./images/view3/join.png) no-repeat;
            background-position: center;
            background-size: auto 100%;
            margin-top: -20px;
            margin-bottom: 20px;
          }
          .text {
            color: $font2_light;
            font-size: 14px;
          }
        }
      }
    }
    //# 2 下部 维度选择、统计信息
    .dimsAndResult {
      height: $h_bottom;
      @extend %flex-row;
      $w_left: 44%;
      $w_right: 100% - $w_left;

      //# 2-1 维度统计
      .resultArea {
        width: $w_left;
        height: 100%;
        .detailDims {
          height: 100%;

          @extend %flex-row;

          $w_dim: 40%;
          $w_info: 100% - $w_dim;

          > * {
            height: 100%;
          }

          //~~ 1 维度
          .dimsSelectArea {
            width: $w_dim;
            $h_t: 20px;

            .dimType {
              height: $h_t;
            }

            .dimsHere {
              height: calc(100% - #{$h_t});
              .CoatingDim {
                height: 100%;
                @extend %flex-col;
              }
            }
          }

          //~~ 2 信息
          .summaryInfo {
            width: $w_info;
          }
        }
      }

      //# 2-2 结果表
      .detailTableArea {
        width: $w_right;
        height: 100%;

        .notDataTip {
          height: 100%;
          width: 100%;
          @extend %flex-wh;
          flex-direction: column;
          .back {
            height: 110px;
            width: 150px;
            background: url(./images/view3/joinTotal.png) no-repeat;
            background-position: center;
            background-size: auto 100%;
            margin-top: -20px;
            margin-bottom: 20px;
          }
          .text {
            color: $font2_light;
            font-size: 14px;
          }
        }
      }
    }
  }
}

// @@ 4-2 各子控件编辑全页 fix全局
.ItemEdit {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: white;
  z-index: 11;
  $h: 40px;
  color: $font2;
  > .headBar {
    box-sizing: border-box;
    height: $h - 1px;
    border-bottom: 1px solid #e8eaed;
    @extend %flex-row;
    align-items: center;

    .tabWrap {
      @extend %flex-row;
      flex-shrink: 0;
      .tabs {
        height: 40px;
        .oneTab {
          display: inline-block;
          height: 100%;
          line-height: 36px;
          font-size: 12px;
          padding: 0 15px;
          color: $font2;
          cursor: pointer;
          border-right: 1px solid #e8eaed;
          &:hover {
            background: $back2;
          }
          &.active {
            color: $blue;
            background: $back2;
          }
        }
      }

      .addNewItemBtn {
        border-right: 1px solid #e8eaed;
        font-size: 30px;
        line-height: 38px;
        padding: 0 8px;
        color: $font2;
        cursor: pointer;
        &:hover {
          color: $blue2;
        }
      }
    }

    .operBtns {
      @extend %flex-row;
      .item {
        @extend %item_normal;
        // font-size: 12px;
        // color: $font2;
        margin-right: 12px;
        .bi {
          font-size: 18px;
          &.bi-retry {
            margin-right: 0;
            margin-left: 6px;
            font-size: 12px;
          }
        }
      }
    }
  }
  > .editBody {
    background: $back2;
    height: calc(100% - #{$h});

    .oneTabBody {
      height: 100%;
      width: 100%;
      font-size: 12px;
      @extend %flex-row;

      $w_left: 200px;
      $w_mid: 220px;

      //~ 1 左侧 维度
      .dimensionArea {
        width: $w_left;
        height: 100%;
        border-right: 1px solid #e8eaed;

        $w_icon: 25px;

        > * {
          padding: 8px 10px;
        }

        //# 1
        .fileName {
          span {
            width: calc(100% - #{$w_icon});
            display: inline-block;
          }
          .icon {
            width: $w_icon;
            text-align: center;
          }
        }
        //# 2
        .searchDim {
          .el-input {
            width: calc(100% - #{$w_icon});
            .el-input__inner {
              height: 30px;
            }
          }
          .icon {
            width: $w_icon;
            text-align: center;
          }
        }
        //# 3 维度
        .dimenArea,
        .indexArea {
          height: calc(50% - 40px);
          box-sizing: border-box;
          $h_t: 30px;

          > .title {
            height: $h_t;
          }
          > .body {
            height: calc(100% - #{$h_t});
            .DimTypeTag {
              display: block;
            }
          }
        }
        .dimenArea {
          border-bottom: 1px solid #e8eaed;
        }
      }
      //~ 2 中间 title type等
      .typeMakeArea {
        width: $w_mid;
        height: 100%;

        > * {
          padding: 8px 10px;
        }

        //# 1 标题
        .nameArea {
          border-bottom: 1px solid #e8eaed;
          .title {
            padding: 4px 0;
            display: flex;
            justify-content: space-between;
          }
          .el-input__inner {
            height: 30px;
          }
        }
        //# 2 类型
        .typeArea {
          border-bottom: 1px solid #e8eaed;
          .title {
            padding: 4px 0;
          }
          .selectArea {
            @extend %flex-row;
            flex-wrap: wrap;
            .typeWrap {
              cursor: pointer;
              margin-right: 12px;
              margin-bottom: 6px;
              width: 35px;
              height: 35px;
              box-sizing: border-box;
              line-height: 30px;
              text-align: center;
              .bi {
                font-size: 20px;
              }
              &.select,
              &.hover {
                color: $blue2;
                border: 1px solid $blue2;
              }
              &.select {
                box-shadow: 0 0 0 2px rgba(69, 144, 236, 0.2);
              }
            }
          }
          .nowType {
            margin-top: 5px;
          }
        }
      }
      //~ 3 右侧展示
      .visualArea {
        width: calc(100% - #{$w_left + $w_mid});
        height: 100%;
        padding: 5px 8px 5px 5px;
        box-sizing: border-box;
        $h_dim: 120px;
        $h_chart: calc(100% - #{$h_dim});

        .dropArea {
          height: $h_dim;
          .CoatingDim {
            width: 100%;
            @extend %flex-row;
            &.active {
              border: 1px solid rgb(53, 129, 228);
              box-shadow: 0 0 0 2px rgba(69, 144, 236, 0.15);
            }
          }
        }

        .visualStage {
          height: $h_chart;
          $h_bottom: 40px;
          .chartArea {
            height: calc(100% - #{$h_bottom});
          }
          .bottom {
            height: $h_bottom;
          }
        }
      }
    } //onebody
  }
}

//@@ 5 过滤组件
.newCondition {
  width: 900px;
  max-height: 90%;
  overflow: auto;
}
//@@ 5-2 选择dataId、property用三步控件
.dataPropCoat {
  //~ 1 表
  .el-table {
    td {
      padding: 0;
      .cell {
        white-space: nowrap;
      }
    }
  }
  //~ 2 树结构紧选
  .el-tree {
    .el-tree-node {
      &[aria-disabled="true"] {
        * {
          cursor: not-allowed;
        }
      }
    }
  }
  > * {
    height: 100%;
  }
  //~ 3 data表确认
  .dataIdConfirm {
    $h_btn: 32px;
    > .DimTable {
      height: calc(100% - #{$h_btn});
    }
    > .btns {
      height: $h_btn;
      display: flex;
      justify-content: flex-end;
      padding-right: 5px;
      border-top: 1px solid $border2;
      padding: 2px 5px;
      box-sizing: border-box;
      .el-button {
        padding: 2px 15px;
      }
    }
  }
  //~ 4 维度选择
  .dimList {
    $h_btn: 40px;
    .reSelect {
      height: $h_btn;
    }
    .theDims {
      height: calc(100% - #{$h_btn});
      .el-scrollbar {
        height: 100%;
        .el-scrollbar__view {
          @extend %flex-col;
          flex-wrap: wrap;
        }
      }
    }
  }
}
