$font1: #2c3e50;
$font2: #3d4d66;
$font2_deep: #232e40;
$font2_light: #9ea6b2;

$color: #00aeff;
$color0: #3b94e7;
$color1: #fad075;
$color2: #f8423c;
$color3: #3ac02e;
$color4: #18406e;
$color5: #a83be7;

$color6: #e03f3f;
$color7: #ee6452;
$color8: #e9803a;
$color9: #ebc548;
$color10: #cec43c;
$color11: #c0d15e;
$color12: #c0f83c;
$color13: #3ac02e;
$color14: #3a6e18;
$color15: #45e245;
$color16: #4ae690;
$color17: #4cdaaf;
$color18: #48bfe4;
$color19: #297192;
$color20: #3e77f1;
$color21: #757ce6;
$color22: #3735e7;
$color23: #7030c5;
$color24: #4e186e;
$color25: #c724d6;
$color26: #e220d2;
$color27: #e46bbf;
$color28: #da148e;
$color29: #c02e4e;

%flex-wh {
  display: flex;
  justify-content: center;
  align-items: center;
}
%flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
%flex-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

%groupTab {
  transition: all 0.2s;
  @extend %flex-wh;
  cursor: pointer;
  &:hover {
    background: rgba(32, 44, 49, 0.1);
  }
  &.active {
    background: rgba(32, 44, 49, 0.15);
  }
}

//-----------
// 小部件 在上
//-----------
.memberInfo {
  @extend %flex-row;
  align-items: center;
  .nameIcon {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    border-radius: 50px;
  }
  .nameInfo {
    @extend %flex-col;
    margin-left: 6px;
  }
}
.tagColor {
  &.tagColor0 {
    background-color: $color0;
  }
  &.tagColor1 {
    background-color: $color1;
  }
  &.tagColor2 {
    background-color: $color2;
    color: white;
  }
  &.tagColor3 {
    background-color: $color3;
  }
  &.tagColor4 {
    background-color: $color4;
    color: white;
  }
  &.tagColor5 {
    background-color: $color5;
    color: white;
  }
  &.tagColor6 {
    background-color: $color6;
    color: white;
  }
  &.tagColor7 {
    background-color: $color7;
  }
  &.tagColor8 {
    background-color: $color8;
  }
  &.tagColor9 {
    background-color: $color9;
  }

  &.tagColor10 {
    background-color: $color10;
  }
  &.tagColor11 {
    background-color: $color11;
  }
  &.tagColor12 {
    background-color: $color12;
  }
  &.tagColor13 {
    background-color: $color13;
  }
  &.tagColor14 {
    background-color: $color14;
    color: white;
  }
  &.tagColor15 {
    background-color: $color15;
  }
  &.tagColor16 {
    background-color: $color16;
  }
  &.tagColor17 {
    background-color: $color17;
  }
  &.tagColor18 {
    background-color: $color18;
  }
  &.tagColor19 {
    background-color: $color19;
    color: white;
  }

  &.tagColor20 {
    background-color: $color20;
    color: white;
  }
  &.tagColor21 {
    background-color: $color21;
  }
  &.tagColor22 {
    background-color: $color22;
    color: white;
  }
  &.tagColor23 {
    background-color: $color23;
    color: white;
  }
  &.tagColor24 {
    background-color: $color24;
    color: white;
  }
  &.tagColor25 {
    background-color: $color25;
    color: white;
  }
  &.tagColor26 {
    background-color: $color26;
    color: white;
  }
  &.tagColor27 {
    background-color: $color27;
  }
  &.tagColor28 {
    background-color: $color28;
    color: white;
  }
  &.tagColor29 {
    background-color: $color29;
    color: white;
  }
}

//-----------
.GroupPage {
  height: 100%;
  $h_title: 40px;
  color: $font1;

  .groupTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: $h_title;

    .pageIcon {
      width: 30px;
      height: 30px;
      @extend %flex-wh;
      background: #a83be7;
      color: white;
      border-radius: 50px;
      margin: 0 6px;
    }

    .newGroupBtn,
    .pub-msgBtn {
      margin-right: 10px;
    }
    .pub-userBtn {
      margin-right: 10px;
    }
  }

  .groupBody {
    height: calc(100% - #{$h_title});
    @extend %flex-row;
    position: relative;

    $w_left: 240px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 8px;
      box-shadow: inset 0 15px 10px -15px rgba(35, 46, 64, 0.1);
    }

    > .leftPart {
      width: $w_left;
      padding: 6px;
      box-sizing: border-box;
      border-right: 1px solid #ddd;

      $h_de: 60px;
      $h_pager: 30px;
      .defaultTab {
        height: $h_de;
      }
      .groupTab {
        height: calc(100% - #{$h_de + $h_pager});
      }
      .el-pagination {
        height: $h_pager;
        text-align: right;
      }

      .oneTab {
        @extend %groupTab;
        height: 40px;
        &.default {
          height: 60px;
        }
        &:not(.default) {
          justify-content: flex-start;
          border-bottom: 1px solid #ddd;
          margin-bottom: 1px;
          padding-left: 6px;
          .preOrder {
            margin-right: 6px;
            font-size: 14px;
            color: $font2_light;
          }
        }
      }
    }

    > .rightPart {
      width: calc(100% - #{$w_left});
      padding: 6px;
      box-sizing: border-box;
      .OneGroup {
        height: 100%;

        $h_info: 140px;
        .groupInfoArea {
          height: $h_info;
          @extend %flex-row;

          .iconArea {
            .theIcon {
              padding: 10px;
              .el-icon-s-promotion {
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 40px;
                background: #00aeff;
                color: white;
                border-radius: 10px;
              }
            }
            .setDefault {
              text-align: center;
            }
          }

          .theInfo {
            .infoRow {
              font-size: 14px;
              .pre {
                text-align: right;
                width: 80px;
                display: inline-block;
                color: $font2_light;
              }
              &.total {
                text-align: right;
              }
            }
          }

          .rightArea {
            padding: 10px;
            @extend %flex-wh;
            flex-direction: column;
            justify-content: flex-start;
            > .el-button {
              margin-top: 6px;
            }
          }
        }

        .memberArea {
          height: calc(100% - #{$h_info});
          $h_oper: 48px;
          .inviteUserArea {
            height: $h_oper;
            @extend %flex-row;

            .inviteBtn {
              height: 36px;
              margin-right: 12px;
            }
          }
          .memberListWrap {
            height: calc(100% - #{$h_oper});
            $h_pager: 32px;
            > .el-pagination {
              height: $h_pager;
              text-align: right;
            }
            > .el-table {
              height: calc(100% - #{$h_pager});

              tbody {
                tr {
                  cursor: pointer;
                }
                .setIcon {
                  display: none;
                }
              }

              .meTip {
                background-color: $color;
                background: #00aeff;
                color: white;
                display: inline-block;
                padding: 0 6px;
                border-radius: 20%;
              }

              //可成员管理时
              &.canEdit {
                tr:hover {
                  .setIcon {
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.userManageDialog {
  .userManageDialogInner {
    .bottomArea {
      @extend %flex-row;
      margin-top: 20px;
    }
  }
}
